@model SearchableLife.Domain.Model.Content

@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_rightsidebar.cshtml";
}

<h1>@Model.Title</h1>
<div>
   @Html.Raw(@Model.HtmlContent)
</div>

@section right
{
    <h4>tags</h4>
    @foreach (SearchableLife.Domain.Model.Tag tag in ViewBag.Tags)
    {
        <div class="tile">
            <a href="@Url.Content("~/tag/" + tag.Slug)">@tag.Title</a>
        </div>
    }
}
