@model SearchableLife.Web.Areas.Admin.ViewModels.EntryVM

@{
    ViewBag.Title = "Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entry</h2>

@using (Html.BeginForm(ViewBag.Update == true ? "Update" : "Create", "Entry",FormMethod.Post))
{

    @Html.LabelFor(e => e.Model.Title)
    @Html.TextBoxFor(e => e.Model.Title)
    @Html.LabelFor(e => e.Model.Slug)
    @Html.TextBoxFor(e => e.Model.Slug)
    @Html.LabelFor(e => e.Model.TagNames)
    @Html.TextBox("csTags",Model.Model.TagNames != null ? string.Join(", ",Model.Model.TagNames) : "")
    @Html.LabelFor(e => e.HtmlContent)
    @Html.TextAreaFor(e => e.HtmlContent)

    <input type="submit" value="Submit" />
}